{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
   <style type="text/css">
      .title {
        height: 65px;
        width: 50%;
        padding-top: 20px;        
        font-size: 36px;
        font-variant: small-caps;
        text-align: center;
        background-color: #FEFEE0;
      }
       .table {
        height: 10%;
        width: 50%; 
        background-color: #FEFEE0;
        font-size: 26px;
        font-variant: small-caps;
      }
  </style>
	<body>  
    <div class="title"> Ooey-Gooey Cinnamon Buns </div>
    <div class="table"> &nbsp; Ingredients </div>
    {% if not ingredients %}
      <p>
        You have no ingredients.
      </p>
    {% else %}
    {% for ingredient in ingredients %}
    <div>
      {{ingredient.name}}: &nbsp; {{ingredient.quantity}}
    </div>
    {% endfor %}
    {% endif %}
	</body>
  
</html>